
.top-nav {
    background: black;
}

#topIntro {
    background-image: url(../images/menu-photo.6.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    margin-top: 62px;
    text-align: center;
}

#navbar-nav a {
    font-size: 20px;
    color: #1ae075;
    font-weight: bold;
}

#navbar-nav {
    margin-top: 10px;
}

#navbar-nav a:hover {
    background-color: white;;
}

.authorization i {
    color: white;
}

.authorization {
    list-style-type: none;
}

.authorization li {
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px;
    vertical-align: bottom;
    margin-top: 9px;
    margin-bottom: 10px;
}

.authorization li i {
    padding-right: 5px;
}

.authorization li span {
    color: #68baea;
}

.authorization li a:hover {
    color: white;
    text-decoration: none;
}

.authorization li:hover {
    background: coral;
}

#brand-name {
    color: rgb(219, 204, 201);
    font-family: monospace;
    font-size: xx-large;
}

#quotes {
    padding: 90px 0 0 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: initial;
    line-height: 50px;
}

#saying {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.64);
}

.home-sign-button {
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 142px;
}

.second-sec {
    background-color: rgba(153, 153, 153, 0.15);;
}

.second-sec div {
    padding: 10px 100px;
    text-align: center;
}

#free {
    padding-top: 11px;
}

.third-sec {
    background-color: rgb(92, 193, 94);
}

.fourth-sec {
    background-color: #f0f0f0;
}

.table-train {
    margin-left: 20px;
}

#footer {
    background-color: black;

}

#footerBrand {
    font-size: 30px;
    text-align: center;
    color: #c0d1dc;
    padding-top: 4%;
    font-family: monospace;
}

#followUs {
    color: white;
    display: block;
    list-style: none;
    font-size: large;
    text-align: center;
}

#followUs li {
    display: inline;
    color: #03d2f3;
}

#followUs span {

    font-size: smaller;
}

#followUs li a {
    color: #03d2f3;
}

#followUs li a:hover {
    color: white;
}

#followUs li a::after {
    content: '';
    display: inline-block;
    height: 13px;
    width: 1px;
    margin: 0 19px;
    border-right: 1px solid #484848;
    position: relative;
    top: -3px;
}

#support {
    color: white;
    display: block;
    list-style: none;
    font-size: large;
    text-align: center;
    padding-top: 0%;
    margin-top: 0%;
}

#support a {
    color: white;
}

#support li {
    display: inline;
    color: white;
    font-size: x-small;
    font-family: monospace;
    margin-left: 1px;
}

#legal {
    color: white;
    display: block;
    list-style: none;
    text-align: center;
    padding-top: 0%;
    margin: 0%;
    margin-top: -1px;

}

#legal li {
    display: inline;
    color: white;
    margin-left: 2px;
}

#money {
    color: white;
    display: block;
    list-style: none;
    text-align: center;
}

#money li {
    display: inline;
    color: white;
    margin-left: 2px;
}

#support a:hover {
    list-style: none;
    text-decoration: none;
    color: deepskyblue;
}

#legal li {
    display: inline;
    color: white;
    font-size: xx-small;
    font-family: sans-serif
}

#money li {
    display: inline;
    color: white;
    font-size: xx-small;
    font-family: sans-serif;
}

#service {
    color: white;
    text-align: center;
    font-size: xx-small;
    font-family: sans-serif;
}

#footerText p {
    margin: 0px;
    text-align: center;
    color: bisque;
    font-size: xx-small;
    font-family: sans-serif;
}

#slogan {
    font-family: monospace;
    color: black;
    margin: 50px 0px 50px 0px
}

.benefits {
    margin-top: 40px;
    width: 550px;
    margin-left: 30px;

}

.benefits tr {
    height: 80px;
}

.benefits tr td:nth-child(1) {
    width: 60px;
}

.benefits tr td:nth-child(2) {
    font-size: large;
    font-family: ‘Courier New’, Courier sans-serif;
    font-style: italic;
    color: white;
}

#ivideo {
    margin-right: 23px;
    margin-top: 23px;
}

.train-item span {
    margin-right: 16px;
    font-size: large;
    color: #1ae075
}

.table-train td {
    height: 70px;
}

.table-train td:nth-child(2) {
    font-family: ‘Courier New’, Courier sans-serif;
    font-size: large;
    font-style: italic;
    color: black;
}